<footer class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="social-container">
                    <a href="https://twitter.com/pyconcolombia" target="_blank">
                        <div class="social-icon">
                            <i class="fab fa-twitter fa-2x"></i>
                        </div>
                    </a>
                    <a href="https://facebook.com/pyconcolombia" target="_blank">
                        <div class="social-icon">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </div>
                    </a>
                    <a href="https://instagram.com/pyconcolombia" target="_blank">
                        <div class="social-icon">
                            <i class="fab fa-instagram fa-2x"></i>
                        </div>
                    </a>
                    <a href="https://youtube.com/pyconcolombia" target="_blank">
                        <div class="social-icon">
                            <i class="fab fa-youtube fa-2x"></i>
                        </div>
                    </a>
                    <a href="https://github.com/pyconcolombia" target="_blank">
                        <div class="social-icon">
                            <i class="fab fa-github-alt fa-2x"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <p>© 2020 <a href="https://python.org.co" target="blank_">Python Colombia</a>. All rights
                    reserved.<br><a href="mailto:hello@pycon.co">hello@pycon.co</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2 col-xs-1 col-xs-offset-2">
                <img class="planet-pink hidden-xs" src="{{ base_url }}static/img/planet-orange.png" alt="">
            </div>
        </div>
    </div>
</footer>