<!-- Modal -->
<div class="modal fade" id="newsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="newsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-news">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo-container">
                                <img class="logo-modal" src="{{ base_url }}static/img/logo_reverse.webp" alt="Pycon Colombia 2021">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Amet massa vitae tortor condimentum lacinia quis vel eros. Enim facilisis gravida neque convallis a cras semper.
                                Arcu ac tortor dignissim convallis aenean et tortor.
                            </p>
                            <p>
                                Lectus nulla at volutpat diam. Venenatis cras sed felis eget velit
                                aliquet sagittis id consectetur. Eget mi proin sed libero enim sed faucibus turpis. Sit amet dictum sit amet justo donec
                                enim diam. Tellus molestie nunc non blandit massa enim. Senectus et netus et malesuada fames ac. Maecenas pharetra
                                convallis posuere morbi leo. Diam vulputate ut pharetra sit amet aliquam id diam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
