{% from "/macros/translation.html" import transbag %}

{%- set t_newsletter_title = transbag('translate', this.alt, 'newsletter_title') -%}
{%- set t_newsletter_name = transbag('translate', this.alt, 'newsletter_name') -%}
{%- set t_newsletter_email = transbag('translate', this.alt, 'newsletter_email') -%}
{%- set t_newsletter_button = transbag('translate', this.alt, 'newsletter_button') -%}

<section class="section-container">
    <article class="newsletter">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12 title">
                <h2><span>{{ t_newsletter_title }}</span></h2>
            </div>
            <div class="col-md-10 col-sm-12">
                <div id="mce-responses" class="clear">
                    <div class="response validation-message error-message" id="mce-error-response" style="display:none"></div>
                    <div class="response validation-message success-message" id="mce-success-response" style="display:none"></div>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="form-container">
                    <form
                        action="https://pycon.us5.list-manage.com/subscribe/post?u=02a088e6fdb4a95ffbcb2bb0c&amp;id=eaee96941c"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll form-subscribe">
                            <div class="row justify-content-center form-subscribe">
                                <div class="mc-field-group col-md-4 col-sm-6 col-xs-12">
                                    <input type="text" value="" name="NAME" class="required form-input subscribe-input"
                                        id="mce-FNAME" placeholder="{{ t_newsletter_name }}" autocomplete="off">
                                </div>
                                <div class="mc-field-group col-md-4 col-sm-6 col-xs-12">
                                    <input type="email" value="" name="EMAIL"
                                        class="required form-input subscribe-input" id="mce-EMAIL"
                                        placeholder="{{ t_newsletter_email }}" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="mc-field-group col-md-3 col-sm-6 col-xs-12 button-container">
                                <input name="b_02a088e6fdb4a95ffbcb2bb0c_eaee96941c" type="submit"
                                    value="{{ t_newsletter_button }}" name="subscribe" id="mc-embedded-subscribe"
                                    class="btn btn-primary subscribe-btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script
            type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        <script src="{{ base_url }}static/js/newsletter.js?v=1.0.1"></script>
    </article>
</section>