{% from "/macros/translation.html" import transbag %}

{% set timeline = site.query('/cronograma', alt=this.alt).order_by('datetime') %}
{%- set t_timeline_title = transbag('translate', this.alt, 'timeline_title') -%}

<section class="section-container">
    <article class="timeline">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="title-intro">
                    <img src="{{ base_url }}static/img/title.webp" alt="Timeline title">
                    <div class="intro-container">
                        <h2><span>{{t_timeline_title}}</span></h2>
                    </div>
                </div>
            </div>
            {% if timeline %}
                <div class="col-md-10 col-sm-12">
                    {% for item in timeline %}
                        <div class="row align-items-center timeline-item">
                            <div class="col-md-2 order-md-2">
                                <div class="text-center">
                                    <img src="{{ base_url }}static/img/timeline-item-{{loop.index % 4}}.svg" class="timeline-image" alt="Timeline item 1">
                                </div>
                            </div>
                            <div class="col-md-5 order-md-{{ '1' if loop.index % 2 == 1 else '3' }}">
                                <div class="text-{{ 'left' if loop.index % 2 == 1 else 'right' }} timeline-description">
                                    {{ item.description }}
                                </div>
                            </div>
                            <div class="col-md-5 order-md-{{ '3' if loop.index % 2 == 1 else '1' }}">
                                <div class="text-{{ 'left' if loop.index % 2 == 1 else 'right' }} timeline-date">
                                    {{ item.datetime|dateformat('dd MMMM Y') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </article>
</section>