color-primary = #090538
color-secondary = #34033a
color-accent = #4706a0

rgb-primary = 9,5,56
rgb-secondary = 52,3,58
rgb-accent = 71,6,160

color-text-primary = #ffffff
color-text-secondary = #fafafa

rgb-white = 255,255,255
rgb-black = 0,0,0



color-white = #ffffff
color-black = #000000