
.mce_inline_error
    color color-error

.success-message
    border-radius 5px
    color color-white
    background-color color-success
    margin 25px 0
    padding 15px
    text-align center

.error-message
    border-radius 5px
    color color-white
    background-color color-error
    margin 25px 0
    padding 15px
    text-align center
    a
        color color-white
        font-weight bold
        &:hover
            text-decoration underline

.mc-field-group
    input
        &.subscribe-input
            margin 5px 0
