/* Talk Tag */

.tags
    ul
        padding-left 0
        li
            display:inline-block

    .tag
        border-radius 5rem
        font-size 1rem
        margin 5px
        padding 5px 10px
        text-align center

    .Computer.Vision.tag
        background-color #ffeb3b
        color #000

    .Blockchain.tag
        background-color #f9a825

    .Data.Science.tag
        background-color #f57f17

    .Scientific.Computing.tag
        background-color #e65100

    .Artifial.Intelligence.tag
        background-color #ff7043
        color #000

    .Machine.Learning.tag
        background-color #f4511e

    .Deep.Learning.tag
        background-color #bf360c

    .DevOps.tag
        background-color #4caf50
        color #000

    .IoT.tag
        background-color #1b5e20

    .Web.tag
        background-color #4fc3f7
        color #000

    .Python.Core.tag
        background-color #039be5

    .Video.Games.tag
        background-color #0e29a1

    .Infrastructure.tag
        background-color #9575cd
        color #000

    .Performance.tag
        background-color #5e35b1

    .Community.tag
        background-color #ec407a 
        color #000

    .Other.tag
        background-color #c2185b

