.speaker-info
    padding-top 25px
    .speaker-description
        text-align right
        .wrapper
            margin-top 0

    &.alt
        .speaker-description
            text-align left

        .speaker-avatar
            text-align right

.speaker-avatar-talks
    .avatar-shadow
        webkit-box-shadow 0 0 50px rgba(0, 152, 184,0.9), 0 0 100px #fff
        box-shadow 0 0 50px rgba(0, 152, 184,0.9), 0 0 100px #fff
        &.square
            border-radius 50%
            height auto
            overflow hidden
            margin 0 auto
        img
            width 100%
            max-width 23rem
            height auto
            border-radius 100%
