.speaker-info
    padding-top 25px
    .speaker-description
        text-align right
        .wrapper
            margin-top 0

    &.alt
        .speaker-description
            text-align left

        .speaker-avatar
            text-align right
