{%- set base_url = '/'|url(alt='es') -%}
{%- from "macros/translation.html" import transbag -%}

{% macro keynote_left(speaker, index) %}
{%- set complete_name = speaker.name + " " + speaker.last_name -%}
<div class="row speaker-info wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
    <div class="speaker-description col-md-6 col-sm-6 col-xs-12 order-md-1 order-12">
        <div class="wrapper">
            <h3><a href="{{ speaker | url }}">{{ speaker.name }} {{ speaker.last_name }}</a></h3>
            <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
        </div>
    </div>
    <div class="speaker-avatar col-md-4 col-sm-4 col-xs-12 order-md-12 order-1">
        <div class="avatar-shadow square">
            <a href="{{ speaker | url }}">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}"
                    {%- else -%} "{{ base_url }}static/img/empty-photo.svg" {%- endif -%} ">
              </a>
        </div>
        </div>
    </div>
{% endmacro %}
{% macro keynote_right(speaker, index) %}
    {%- set complete_name = speaker.name + " " + speaker.last_name -%}
    <div class=" row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s"
                data-wow-offset="-1000">
            <div class="speaker-avatar col-md-4 offset-md-2">
                <div class="avatar-shadow square">
                    <a href="{{ speaker | url }}">
                        <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}"
                            {%- else -%} "{{ base_url }}static/img/empty-photo.svg" {%- endif -%} ">
            </a>
                </div>
        </div>
        <div class=" speaker-description col-md-6">
                    <div class="wrapper">
                        <h3><a href="{{ speaker | url }}">{{ speaker.name }} {{ speaker.last_name }}</a></h3>
                        <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                    </div>
            </div>
    </div>
{% endmacro %}

{% macro speaker_left(speaker, index) %}
    {%- set complete_name = speaker.name + " " + speaker.last_name -%}
    <div class="row speaker-info wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
        <div class="speaker-description col-sm-9 col-xs-12 order-md-1 order-12">
            <div class="wrapper">
                <h3 class="speaker-title"><a href="{{ speaker | url }}">{{ speaker.name }} {{ speaker.last_name }}</a>
                </h3>
                <p>{{ speaker.position_1 }}<br />
                    {% if speaker.twitter_handle %}
                    <a href="https://twitter.com/{{ speaker.twitter_handle }}"
                        target="blank_"><strong>@{{ speaker.twitter_handle }}</strong></a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="speaker-avatar col-sm-3 col-xs-12 order-md-12 order-1">
            <a href="{{ speaker | url }}">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}"
                    {%- else -%} "{{ base_url }}static/img/empty-photo.svg" {%- endif -%} ">
          </a>
        </div>
    </div>
{% endmacro %}
{% macro speaker_right(speaker, index) %}
    {%- set complete_name = speaker.name + " " + speaker.last_name -%}
    <div class=" row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
        <div class="speaker-avatar col-md-3">
            <a href="{{ speaker | url }}">
            <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}"
                            {%- else -%} "{{ base_url }}static/img/empty-photo.svg" {%- endif -%} ">
            </a>
        </div>
        <div class=" speaker-description col-md-9">
            <div class="wrapper">
                <h3 class="speaker-title"><a href="{{ speaker | url }}">{{ speaker.name }} {{ speaker.last_name }}</a></h3>
                <p>{{ speaker.position_1 }}<br />
                    {% if speaker.twitter_handle %}
                        <a href="https://twitter.com/{{ speaker.twitter_handle }}"
                        target="blank_"><strong>@{{ speaker.twitter_handle }}</strong></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_keynote_speaker(speaker, index=1, details=True) %}
    <div class="row justify-content-center align-self-center">
        {%- if index % 2 == 1 -%}
        {{ keynote_left(speaker, index) }}
        {%- else -%}
        {{ keynote_right(speaker, index) }}
        {%- endif -%}
    </div>
{% endmacro %}

{% macro render_speaker(speaker, index=1, details=True) %}
    <div class="row justify-content-center align-self-center">
        {%- if index % 4 == 1 -%}
        {{ speaker_left(speaker, index) }}
        {%- elif index % 4 == 2 -%}
        {{ speaker_left(speaker, index) }}
        {%- elif index % 4 == 3 -%}
        {{ speaker_right(speaker, index) }}
        {%- elif index % 4 == 0 -%}
        {{ speaker_right(speaker, index) }}
        {%- endif -%}
    </div>
{% endmacro %}