{%- set base_url = '/'|url(alt='es') -%}

{% extends "layout.html" %}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/sponsors.html" import render_sponsors -%}

{%- set t_intro_title_1 = transbag('translate', this.alt, 'intro_title_1') -%}
{%- set t_intro_title_2 = transbag('translate', this.alt, 'intro_title_2') -%}
{%- set t_intro_description_1 = transbag('translate', this.alt, 'intro_description_1') -%}
{%- set t_intro_description_2 = transbag('translate', this.alt, 'intro_description_2') -%}
{%- set t_intro_description_3 = transbag('translate', this.alt, 'intro_description_3') -%}
{%- set t_intro_description_4 = transbag('translate', this.alt, 'intro_description_4') -%}
{%- set t_sponsor_title = transbag('translate', this.alt, 'sponsor_title') -%}

{# Sponsors #}
{% set venue = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'venue').order_by('_id') %}
{% set diamond = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'diamond').order_by('_id') %}
{% set platinum = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'platinum').order_by('_id') %}
{% set gold = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'gold').order_by('_id') %}
{% set silver = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'silver').order_by('_id') %}
{% set bronze = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'bronze').order_by('_id') %}
{% set startup = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'startup').order_by('_id') %}
{% set partner = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'partner').order_by('_id') %}
{% set support = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'support').order_by('_id') %}

{%- set t_title_cfp = transbag('translate', this.alt, 'title_cfp') -%}
{%- set t_message_cfp = transbag('translate', this.alt, 'message_cfp') -%}
{%- set t_button_cfp = transbag('translate', this.alt, 'button_cfp') -%}
{%- set t_title_keynotes = transbag('translate', this.alt, 'title_keynotes') -%}

{%- block body -%}
    {% if 'news' in this.sections %}
        {% include './partials/_news.html' %}
    {% endif %}
    <div class="container">
        <section class="section-container">
            <div class="row row justify-content-center">
                <div class="col-sm-6 col-xs-10">
                    <h1>
                        <img class="logo-index" src="{{ base_url }}static/img/logo.webp" alt="Pycon Colombia 2021">
                    </h1>
                </div>
            </div>
        </section>
        <div class="whale-background">
            <section class="section-container">
                <article class="hidden-xs">
                    <div class="row justify-content-center">
                        <div class="col-sm-10">
                            <div class="title-intro">
                                <img src="{{ base_url }}static/img/background-intro-complete.webp" alt="Welcome to a new dimension">
                                <div class="intro-container">
                                    <h2>{{t_intro_title_1}}<span>{{t_intro_title_2}}</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-xs-10">
                            <div class="text-container">
                                <p>
                                    <span>{{t_intro_description_1}}</span>
                                    {{t_intro_description_2}} <br>
                                    {{t_intro_description_3}}
                                    <span>{{t_intro_description_4}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            <img class="planet-pink" src="{{ base_url }}static/img/planet-pink.webp" alt="">
                        </div>
                    </div>
                </article>
            </section>
        </div>

        {% set is_speakers_call_enabled = this.accepted_speakers_link and 'speakers-call' in this.sections %}
        {% set is_speakers_call_section_closed = 'speakers-call' in this.closed_sections %}

        <section class="section-container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                    {% if is_speakers_call_enabled %}
                        <div class="event-description call-for-papers {{ 'text-center' if not is_tickets_section_enabled else '' }} col-md-{{ '12' if not is_tickets_section_enabled else '5' }} wow fadeInRight"
                            data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
                            <div class="wrapper">
                                <h1>{{ t_title_cfp }}</h1>
                                {% if not is_speakers_call_section_closed %}
                                <div class="call-to-actions row">
                                    <div class="text-center col-md-12">
                                        <a class="btn btn-primary btn-lg" href="{{ '/cfp'|url(alt=this.alt) }}">
                                            {{ t_button_cfp }}
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="text-center col-md-12">
                                    <p>{{ t_message_cfp }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

        {% set is_keynotes_enabled = 'keynotes' in this.sections %}
        {% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}
        {%- from "macros/speakers.html" import render_keynote_speaker -%}

        {% if is_keynotes_enabled %}
            <section class="section-container">
                <article class="body-content">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-sm-12">
                            <div class="title-intro">
                                <img src="{{ base_url }}static/img/title.webp" alt="title">
                                <div class="intro-container">
                                    <h2><span>{{ t_title_keynotes }}</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="content">
                                {% if speakers %}
                                    {% for speaker in speakers %}
                                        {{ render_keynote_speaker(speaker, index=loop.index, details=True) }}
                                    {%endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        {% endif %}

    </div>
    {% if 'timeline' in this.sections %}
        {% include './partials/_timeline.html' %}
    {% endif %}


    <div class="sponsors">
        <div class=" wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.2s" data-wow-offset="-1000">
            <div class="container">
                <div class="row">
                    <div class="text-center col-md-12">
                        <h1 class="title">&lt;{{ t_sponsor_title }}/&gt;</h1>
                    </div>
                </div>
                {% if venue %}
                {{ render_sponsors(venue, 8, 5) }}
                {% endif %}
                {% if diamond %}
                {{ render_sponsors(diamond, 7, 4) }}
                {% endif %}
                {% if platinum %}
                {{ render_sponsors(platinum, 6, 3) }}
                {% endif %}
                {% if gold %}
                {{ render_sponsors(gold, 5, 2) }}
                {% endif %}
                {% if silver %}
                {{ render_sponsors(silver, 5, 2) }}
                {% endif %}
                {% if bronze %}
                {{ render_sponsors(bronze, 4, 2) }}
                {% endif %}
                {% if startup %}
                {{ render_sponsors(startup, 4, 2) }}
                {% endif %}
                {% if partner %}
                {{ render_sponsors(partner, 3, 1) }}
                {% endif %}
                {% if support %}
                {{ render_sponsors(support, 3, 1) }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if 'newsletter' in this.sections %}
        {% include './partials/_newsletter.html' %}
    {% endif %}
    
{%- endblock -%}