{% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}
{% extends "layout.html" %}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/speakers.html" import render_keynote_speaker -%}

{%- block body -%}
    <section class="section-container">
        <article class="body-content">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <div class="title-intro">
                        <img src="{{ base_url }}static/img/title.webp" alt="title">
                        <div class="intro-container">
                            <h2><span>{{ this.title }} ({{ speakers.count()}})</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="content">                        
                        {% if speakers %}
                            {% for speaker in speakers %}
                                {{ render_keynote_speaker(speaker, index=loop.index, details=True) }}
                            {%endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </section>
{%- endblock -%}