{%- set base_url = '/'|url(alt='es') -%}

{% extends "layout.html" %}

{%- block body -%}
    <section class="section-container">
        <article class="timeline">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <div class="title-intro">
                        <img src="{{ base_url }}static/img/title.webp" alt="title">
                        <div class="intro-container">
                            <h2><span>{{ this.title }}</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-md-2 col-sm-12">
                                <h4>Profile</h4>
                                <a href="https://drive.google.com/open?id=1P9ef0xGPCdAEsRL13kV2rSjfiCacBUbH" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/profile.jpg" class="img-fluid img-thumbnail"
                                        alt="Responsive image">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4>Facebook - Groups</h4>
                                <a href="https://drive.google.com/file/d/1FYUaV8h3lnUFexsLC80CbTp3eJPFK17q" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/facebook-group.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4>Facebook - Profile</h4>
                                <a href="https://drive.google.com/file/d/1Kz3XirhaLUdd1XLTgL6bxL8_BPXrbV2C" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/facebook-profile.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4>Facebook - Pages</h4>
                                <a href="https://drive.google.com/file/d/1-FRSdhu-wYCVLuaiUSUBkqG-2iPsrEHt" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/facebook-page.jpg" class="img-fluid img-thumbnail"
                                        alt="Responsive image">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4>LinkedIn - Profile</h4>
                                <a href="https://drive.google.com/file/d/1aijB2XuU2vF3g-bqCmqU7xYQTAHyImfC" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/linkedin-profile.jpg" class="img-fluid img-thumbnail"
                                        alt="Responsive image">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4>LinkedIn - Business</h4>
                                <a href="https://drive.google.com/file/d/1cvDuzsXqlPHamG4lScIIsMQDbWOCIn-s" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/linkedin-page.jpg" class="img-fluid img-thumbnail"
                                        alt="Responsive image">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4>Twitter</h4>
                                <a href="https://drive.google.com/file/d/1UVxdKWjKUBe26YcMuaEbYccXSviJVQel" target="blank_">
                                    <img src="{{ base_url }}static/img/resources/twitter.jpg" class="img-fluid img-thumbnail"
                                        alt="Responsive image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

{%- endblock -%}