{%- set base_url = '/'|url(alt='es') -%}

{% extends "layout.html" %}

{%- block body -%}
<div class="container">
    <section class="section-container">
        <div class="content">
            <div class="row justify-content-center">
                <h1 class="title text-center">{{ this.title }}</h2>
                <div class="row justify-content-center">
                    <div class="col-md-2 col-sm-12">
                        <h3>Profile</h3>
                        <a href="https://drive.google.com/open?id=1P9ef0xGPCdAEsRL13kV2rSjfiCacBUbH" target="blank_">
                            <img src="{{ base_url }}static/img/resources/profile.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Groups</h3>
                        <a href="https://drive.google.com/file/d/1qm1BxqtoWI2qFHjx6OkVB8dCbOA6R9z2" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-group.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Profile</h3>
                        <a href="https://drive.google.com/file/d/12wRrlmRT_L1fI5iW8o0BBdokzMJn4zbN" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-profile.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Pages</h3>
                        <a href="https://drive.google.com/file/d/1VZKevP0yABEvqdluNADS0lIVszaa-6SK" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-page.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>LinkedIn - Profile</h3>
                        <a href="https://drive.google.com/file/d/1L1BCUr_IgKV3c8eq6hP9Sx2kp5rLvggd" target="blank_">
                            <img src="{{ base_url }}static/img/resources/linkedin-profile.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>LinkedIn - Business</h3>
                        <a href="https://drive.google.com/file/d/10CWTXUFLkWi52rIJ9BIvbyM-p7DldaSi" target="blank_">
                            <img src="{{ base_url }}static/img/resources/linkedin-page.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Twitter</h3>
                        <a href="https://drive.google.com/file/d/1VQ2_XUMPCiPmFA2nYh4GAch6CnUYV0HM" target="blank_">
                            <img src="{{ base_url }}static/img/resources/twitter.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>

{%- endblock -%}