{%- set base_url = '/'|url(alt='es') -%}

{% extends "layout.html" %}

{%- block body -%}
<div class="container">
    <section class="section-container">
        <div class="content">
            <div class="row justify-content-center">
                <h1 class="title text-center">{{ this.title }}</h2>
                <div class="row justify-content-center">
                    <div class="col-md-2 col-sm-12">
                        <h3>Profile</h3>
                        <a href="https://drive.google.com/open?id=1P9ef0xGPCdAEsRL13kV2rSjfiCacBUbH" target="blank_">
                            <img src="{{ base_url }}static/img/resources/profile.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Groups</h3>
                        <a href="https://drive.google.com/open?id=1cfJwxIvk0E0UAI8O3s__zny9BesP_XSy" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-group.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Profile</h3>
                        <a href="https://drive.google.com/open?id=1txhV7h1TfKq1I0c6TrARzVK_Sy66ejmC" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-profile.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Facebook - Pages</h3>
                        <a href="https://drive.google.com/open?id=10DhEI7pJXSLwE0NfMxVKnCdFUx_Xr8bs" target="blank_">
                            <img src="{{ base_url }}static/img/resources/facebook-page.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>LinkedIn - Profile</h3>
                        <a href="https://drive.google.com/open?id=1A4vQGp_wBA9gFMQoHBUC4GiF9X2Lvg9J" target="blank_">
                            <img src="{{ base_url }}static/img/resources/linkedin-profile.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>LinkedIn - Business</h3>
                        <a href="https://drive.google.com/open?id=1mdy5D_3nA5N_ou_8h5iINusrxvn3j3jv" target="blank_">
                            <img src="{{ base_url }}static/img/resources/linkedin-page.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Twitter</h3>
                        <a href="https://drive.google.com/open?id=1PlhSRVCHMaQnFMBHPcyB_pxNwBLLQr7m" target="blank_">
                            <img src="{{ base_url }}static/img/resources/twitter.jpg" class="img-fluid img-thumbnail"
                                alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>

{%- endblock -%}