{% set speakers = site.query('/ponentes', alt=this.alt).filter(F.publish).order_by('_id') %}
{% extends "layout.html" %}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/speakers.html" import render_speaker -%}

{%- block body -%}
    <div class="layout-page">
        <div class="background-wrapper">
            <div class="background-image-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <h1 class="title text-center">&lt;{{ this.title }}/&gt; ({{ speakers.count()}})</h1>
                            {% set speakers = site.query('/ponentes', alt=this.alt).filter(F.publish).order_by('_id') %}
                            
                            <div class="key-speakers-info">
                                
                                {% for speaker in speakers %}
                                    {%- if loop.index % 4 == 1 or loop.index % 4 == 3 -%}
                                        <div class="row">
                                    {%- endif -%}
                                        <div class="col-md-6 col-sm-12">
                                            {{ render_speaker(speaker, index=loop.index, details=True) }}
                                        </div>
                                    {%- if loop.index % 4 == 2 or loop.index % 4 == 0 or loop.index == loop.length -%} 
                                        </div>
                                    {%- endif -%}
                                {%endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}
