{% extends "layout.html" %}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/sponsors.html" import render_sponsors_web -%}

{% set venue = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'venue').order_by('_id') %}
{% set diamond = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'diamond').order_by('_id') %}
{% set platinum = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'platinum').order_by('_id') %}
{% set gold = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'gold').order_by('_id') %}
{% set silver = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'silver').order_by('_id') %}
{% set bronze = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'bronze').order_by('_id') %}
{% set startup = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'startup').order_by('_id') %}
{% set partner = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'partner').order_by('_id') %}
{% set support = site.query('/patrocinadores', alt=this.alt).filter(F.confirmed).filter(F.category ==
'support').order_by('_id') %}

{%- block body -%}
    <div class="layout-page">
        <div class="background-wrapper">
            <div class="background-image-wrapper">
                <div class="container">
                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-sm-12">
                                <h1 class="title text-center">&lt;{{ this.title }}/&gt;</h1>
                                {{ this.body }}

                                {% if venue %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Venue</h2>
                                    </div>
                                    {{ render_sponsors_web(venue) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if diamond %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Diamond</h2>
                                    </div>
                                    {{ render_sponsors_web(diamond) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if platinum %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Platinum</h2>
                                    </div>
                                    {{ render_sponsors_web(platinum) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if gold %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Gold</h2>
                                    </div>
                                    {{ render_sponsors_web(gold) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if silver %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Silver</h2>
                                    </div>
                                    {{ render_sponsors_web(silver) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if bronze %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Bronze</h2>
                                    </div>
                                    {{ render_sponsors_web(bronze) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if startup %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Startup</h2>
                                    </div>
                                    {{ render_sponsors_web(startup) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if partner %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Partner</h2>
                                    </div>
                                    {{ render_sponsors_web(partner) }}
                                </div>
                                <hr />
                                {% endif %}
                                {% if support %}
                                <div class="row row_sponsor">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="sponsor-name">Support</h2>
                                    </div>
                                    {{ render_sponsors_web(support) }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% include 'partials/_footer.html' %}
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}
