body, h1, h2, h3, h4, h5, h6, a, p, li, ul
	font-family font-principal !important

body
	background url('../img/background.jpg') top center repeat-y
	background-attachment fixed
	background-size 100% auto

.asteroids
	background url('../img/asteroids.png') top center repeat-y
	background-size 100% auto

.section-container
	display block
	margin 0 auto
	max-width 1100px
